* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: rgba(243, 124, 117, 0.7);
}

.card {
  display: flex;
  border: transparent;
  border-radius: 20px;
  padding: 150px;
}

.login-panel {
  background-color: #ff4133;
  color: #fff;
  border-radius: 0 30px 30px 0;
  text-align: center;
  width: 50%;
  /*box-shadow: 20px 0 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);*/
}

.pic-panel {
  width: 50%;
  background-image: url("assets/vector-people.png");
  border-radius: 30px 0 0 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

::placeholder {
  color: white;
  padding-left: 30px;
}

p {
  margin: 20px;
}

.btn {
  background-color: #dc2621;
  border-radius: 30px;
  height: 45px;
  width: 300px;
  border: transparent;
  color: white;
  cursor: pointer;
}

.input {
  height: 45px;
  width: 300px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.input:focus {
  background-color: white;
  color: #ff4133;
  padding-left: 30px;
  outline: none;
}

.input:not(:focus) {
  background-color: transparent;
  color: #ffffff;
  padding-left: 30px;
}

@media only screen and (max-width: 980px) and (min-width: 280px){
  html {
    background-color: #ff4133;
  }

  .pic-panel {
    display: none;
  }

  .login-panel {
    width: 100%;
    margin-top: 35%;
    border-radius: 0;
  }

  .card {
    padding: 0;
  }
}

